.wrapper{
    /* background-color: rgb(187, 26, 26); */
    /* border: 1px solid black; */
    padding: 7em;
    
}

.float-container1 {
  /* background-çcolor: lightgrey; */
  margin-top: 3em;
  margin-left: 10em;
  margin-right: 10em;
  justify-content: center;
  align-content: center;
  box-shadow: 0 6px 20px rgba(28, 28, 189, 0.17);
  
}
  
  .float-child1 {
      margin-top: -6em;
      width: 10%;
      float: left;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 0.3em;
  }

  .float-child1 >p {
      padding-top: 0.6em;
      
  }
 

  .float-child2 {
    margin-top: -5.6em;
  width: 15%;
  float: left;
  padding-left: 30px;
  padding-right: 30px;
}

  
  .float-container1 > h3{
    font-size: larger;  
    padding-top: 1em;
    padding-left: 5em;
  }

  .social-icon-link1 {
    color: #242424;
    font-size: 24px;
  }

  @media screen and (max-width:960px){
    h1{
      font-size: 35px;
    }
    .float-container1{
      /* border: 1px solid green; */
      border-radius: 10px;
    }
    .float-container1 >h3{
      margin-left: -3em;
      margin-right: -1.5em;
    }
    .float-child1{
      /* border: 1px solid red; */
      width: 50%;
    }
    .float-child2{
      /* border: 1px solid black; */
      width: 50%;
    }
  }
  
  /* Mobile screens */
  @media screen and (max-width: 768px){
   
    h1{
      font-size: 30px;
    }
    
    .float-container1{
      /* border: 1px solid green; */
      border-radius: 10px;
      margin-left: 3em;
      margin-right: 2em;
      padding: 0.2em;
      
      display: flex;
      flex-direction: column;
      
    }
    .float-container1 >h3{
      font-size: 18px;
      /* color: red; */
      margin-left: -4em;
      
    }

    .wrapper{
      /* border: 1px solid blue; */
      display: flex;
      margin:0em;
      padding:0em;
      flex: 1;
      flex-direction: row;
      padding-top: 7em;
    }
    
    /* .float-child1{
      border: 1px solid red;
    }
    .float-child2{
      border: 1px solid black; 
    } */
  }